@using Microsoft.AspNetCore.Authorization
@model HR.ViewModel.EditUserViewModel
@inject Microsoft.AspNetCore.Identity.UserManager<Employee> userManager;
@inject IAuthorizationService authorization;
@{
    ViewData["Title"] = "Edit User";
    var user = userManager.FindByIdAsync(Model.Id).Result;
    var img = "/Files/EmployeePhotos/" + (user.PhotoPath);
}

<div class="top container body-content">
    <h1>
        Edit User
    </h1>
    <form method="post" class="mt-3">
        @if ((await authorization.AuthorizeAsync(User, "EditUser")).Succeeded)
        {
        <div class="row">
            <div class="col">
                <div class="form-group row">
                    <label asp-for="Id" class="col-sm-2 col-form-label"></label>
                    <div class="col-sm-10">
                        <input asp-for="Id" disabled class="form-control select-input" />
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="Email" class="col-sm-2 col-form-label"></label>
                    <div class="col-sm-10">
                        <input asp-for="Email" class="form-control select-input" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>
            </div>
            
            <div class="col">
                <div class="row">
                    <div class="col">
                        <img src="@img" id="userphoto"/>
                    </div>
                </div>
            </div>
        </div>
            <div class="form-group row">
                <div class="col-sm-10">
                    <a asp-controller="Administration" asp-action="AddUserDetails" class="btn btn-danger" asp-route-id="@Model.Id">User Details</a>
                    <button type="submit" class="btn btn-primary">Update</button>
                    <a asp-action="UsersList" class="btn btn-primary">Back</a>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h3>Roles</h3>
                </div>
                <div class="card-body">
                    @if (Model.Roles.Any())
                    {
                        foreach (var role in Model.Roles)
                        {
                            <h5 class="card-title">@role</h5>
                        }
                    }
                    else
                    {
                        <h5 class="card-title">None at the moment</h5>
                    }
                </div>
                <div class="card-footer">
                    @if ((await authorization.AuthorizeAsync(User, "ManageUserRoles")).Succeeded)
                    {
                        <a asp-action="ManageUserRoles" asp-route-Userid="@Model.Id" class="btn btn-primary" style="width:auto">Maage Roles</a>
                    }
                </div>
            </div>
            <div class="card mt-3">
                <div class="card-header">
                    <h3>Clims</h3>
                </div>
                <div class="card-body">
                    @if (Model.Clims.Any())
                    {
                        foreach (var claim in Model.Clims)
                        {
                            <h5 class="card-title">@claim aim</h5>
                        }
                    }
                    else
                    {
                        <h5 class="card-title">None at the moment</h5>
                    }
                </div>
                <div class="card-footer">
                    @if ((await authorization.AuthorizeAsync(User, "ManageUserClaims")).Succeeded)
                    {
                        <a asp-action="ManageUserClaims" class="btn btn-primary" style="width:auto" asp-route-UserId="@Model.Id">Maage Clims</a>
                    }
                </div>
            </div>
        }
        else
        {
            <div class="form-group row">
                <label asp-for="Id" class="col-sm-2 col-form-label">
                </label>
                <div class="col-sm-10">
                    <input asp-for="Id" class="form-control select-input" disabled />
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="Email" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <input asp-for="Email" class="form-control select-input" disabled />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="UserName" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <input asp-for="UserName" class="form-control select-input" disabled />
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="Adress" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <input asp-for="Adress" class="form-control select-input" disabled />
                    <span asp-validation-for="Adress" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="BDay" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <input asp-for="BDay" class="form-control select-input" disabled />
                    <span asp-validation-for="BDay" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-10">
                    <a asp-action="UsersList" class="btn btn-primary">Back</a>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h3>Roles</h3>
                </div>
                <div class="card-body">
                    @if (Model.Roles.Any())
                    {
                        foreach (var role in Model.Roles)
                        {
                            <h5 class="card-title">@role</h5>
                        }
                    }
                    else
                    {
                        <h5 class="card-title">None at the moment</h5>
                    }
                </div>
                <div class="card-footer">
                    @if ((await authorization.AuthorizeAsync(User, "ManageUserRoles")).Succeeded)
                    {
                        <a asp-action="ManageUserRoles" asp-route-Userid="@Model.Id" class="btn btn-primary" style="width:auto">Maage Roles</a>
                    }
                </div>
            </div>
            <div class="card mt-3">
                <div class="card-header">
                    <h3>Clims</h3>
                </div>
                <div class="card-body">
                    @if (Model.Clims.Any())
                    {
                        foreach (var claim in Model.Clims)
                        {
                            <h5 class="card-title">@claim aim</h5>
                        }
                    }
                    else
                    {
                        <h5 class="card-title">None at the moment</h5>
                    }
                </div>
                <div class="card-footer">
                    @if ((await authorization.AuthorizeAsync(User, "ManageUserClaims")).Succeeded)
                    {
                        <a asp-action="ManageUserClaims" class="btn btn-primary mb-3" style="width:auto" asp-route-UserId="@Model.Id">Maage Clims</a>
                    }
                </div>
            </div>
        }
    </form>
</div>

