@model HR.Models.LeaveApplication
@inject Microsoft.AspNetCore.Identity.UserManager<HR.Models.Employee> userManager;

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>LeaveApplication</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeInfo)
        </dt>
        <dd class="col-sm-10">

            @{
                var w = userManager.FindByIdAsync(Model.EmployeeInfo).Result;
                var q = "";
                if (w == null)
                {
                    q = "Deleted";
                }
                else
                {
                    q = userManager.GetUserNameAsync(w).Result;
                }
            }
            @q
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LeaveCount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LeaveCount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Start)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Start)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.End)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.End)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Reason)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Reason)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LeaveType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LeaveType.Type)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
    </dl>
</div>
@if (Model.LeaveDocumentPath != null)
{
    <div class="row">
        <div class="col">
            @{
                var doc = "/Files/LeaveDocuments/" + Model.LeaveDocumentPath;
            }
            <a href="@doc" class="btn btn-primary" target="_blank">View The Document</a>
            <a href="@doc" class="btn btn-primary" download>Download The Document</a>
        </div>
    </div>
    <br />
}
<div>
    <a asp-action="Index">Back to List</a>
</div>
